.dashed-border {
    background-image: repeating-linear-gradient(
            0deg, white, white 10px, transparent 10px, transparent 20px
    ),
    repeating-linear-gradient(
            90deg, white, white 10px, transparent 10px, transparent 20px
    ),
    repeating-linear-gradient(
            180deg, white, white 10px, transparent 10px, transparent 20px
    ),
    repeating-linear-gradient(
            270deg, white, white 10px, transparent 10px, transparent 20px
    );
    background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}